@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-lg-12">
        <div class="card ribbon-box">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Relasi one to one table AspNetUsers dengan AppUserDetails</h5>
            </div>
            <div class="card-body">
                <div id="oneGrid"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/index-page.js"></script>
}