@page "{handler?}"
@model FrontEnd.Pages.OnetomanyModel
@{
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-lg-12">
        <div class="card ribbon-box">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Relasi one to many table AspNetUsers self-referencing. 1 atasan memiliki banyak bawahan, sedangkan bawahan hanya memiliki 1 atasan.</h5>
            </div>
            <div class="card-body">
                <p class="text-muted">Noted: Refresh halaman setelah add data. Edit/delete tidak perlu</p>
                <div id="roleGrid"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var $users = @Html.Raw(Json.Serialize(Model.GroupRoleDdl?.Groups));
    </script>
    <script src="~/js/onetomany-page.js"></script>
}
